# compiled output
/dist
/ui/dist
/tmp
/out-tsc
target
/public

# dependencies
/ui/node_modules

# logs
logs

# IntelliJ
.idea

# Hydra
.hydra
.bloop
.metals
.bsp

# sbt
project/project
project/target
